body{
    background-color: rgb(233, 233, 233);
}
h1{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
}
.options{
    margin: 20px;
    border: 2px solid;
    border-radius: 20px;
}
.options:hover{
    background-color: rgb(201, 201, 201);
}
.options:active{
    background-color: rgb(141, 141, 141);
}
.score,.results{
    text-align: center;
    margin: 10px;
    font-size: large;
}
p{
    text-align: center;
}
.options img{
    width: 200px;
}
